PORT = 5000
MONGO_URI=mongodb+srv://akkudev:mydevmongo@cluster0.jtthcsg.mongodb.net/eventora?appName=Cluster0
EMAIL_USER=akkuapsi@gmail.com
EMAIL_PASS=udmbzvuxcxdhjydq
JWT_SECRET=c67924bd8aaee6364ef3f9decb29acc455767fc936463e2b737ef711f364929a